//fonts
$google-font: "https://fonts.googleapis.com/css2?family=Acme&family=Source+Sans+Pro:wght@200&family=Josefin+Sans:wght@400;700&family=Poppins:wght@400;800&display=swap";
$baseFontSize: 16px;

$sourceSansPro: "Source Sans Pro";
$josefinSans: "Josefin Sans";
$Poppins: "Poppins";

$thinWeight: 100;
$extraLightWeight: 200;
$lightWeight: 300;
$regularWeight: 400;
$mediumWeight: 500;
$semiBoldWeight: 600;
$boldWeight: 700;
$extraBoldWeight: 800;
$blackWeight: 900;

// Paths
$imagesPath: "../img/";
$fontsPath: "../fonts/";

// Colors
$black: #000000;
$white: #ffffff;

$formOne: #07b30e;

$formTwo: #45f3ff;

$neonGreen: #39ff14;
$neonYellow: #fffc00;
$neonRed: #ff073a;
$neonBlue: #04d9ff;
