%formthreeInputSubmit {
  display: block;
  width: 100%;
  font-family: $sourceSansPro;
  font-size: 18px;
  border: 1px solid #000;
  border-radius: 5px;
  outline: none;
  color: #fff;
  background: rgba(0, 0, 0, 0.7);
  padding: 7px 10px;
  margin-bottom: 10px;
}

.formThree {
  display: block;
  width: 30vw;
  min-width: 250px;
  border: 1px solid #fff;
  border-radius: 5px;
  padding: 40px;
  background: rgba(255, 255, 255, 0.1);
  box-shadow: 0 0 15px 5px #000;

  @include e(input) {
    @extend %formthreeInputSubmit;
  }

  @include e(submit) {
    @extend %formthreeInputSubmit;
    background: rgba(0, 0, 0, 1);
    margin-bottom: 0;
    cursor: pointer;
  }
}
