%formTwoInputTextarea {
  position: absolute;
  width: 100%;
  height: 100%;
  background: transparent;
  box-shadow: none;
  border: none;
  outline: none;
  font-size: 18px;
  padding: 0 10px;
  z-index: 1;
  color: #000;
}

%formTwoFocusValidLabelPos {
  top: -35px;
  left: -10px;
}

.formTwo {
  @include e(row) {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  }

  @include e(col) {
    width: 100%;
    padding: 0 10px;
    margin: 30px 0 10px;
    transition: 0.5s;
  }

  @include e(box) {
    position: relative;
    width: 100%;
    height: 40px;
    color: $formTwo;
  }

  @include e(label) {
    position: absolute;
    top: 0;
    left: 0;
    line-height: 40px;
    padding: 0 10px;
    font-size: 18px;
    display: block;
    transition: 0.5s;
    pointer-events: none;
  }

  @include e(line) {
    position: absolute;
    bottom: 0;
    display: block;
    width: 100%;
    height: 2px;
    background: $formTwo;
    transition: 0.5s;
    border-radius: 2px;
    pointer-events: none;
  }

  @include e(input) {
    @extend %formTwoInputTextarea;

    &:focus + .formTwo__label {
      @extend %formTwoFocusValidLabelPos;
    }
    &:valid + .formTwo__label {
      @extend %formTwoFocusValidLabelPos;
    }

    &:focus ~ .formTwo__line {
      height: 100%;
    }
    &:valid ~ .formTwo__line {
      height: 100%;
    }
  }

  @include e(textareaBox) {
    position: relative;
    width: 100%;
    height: 100px;
    padding: 10px 0;
  }

  @include e(textarea) {
    @extend %formTwoInputTextarea;

    height: 100%;
    resize: none;

    &:focus + .formTwo__label {
      @extend %formTwoFocusValidLabelPos;
    }
    &:valid + .formTwo__label {
      @extend %formTwoFocusValidLabelPos;
    }

    &:focus ~ .formTwo__line {
      height: 100%;
    }
    &:valid ~ .formTwo__line {
      height: 100%;
    }
  }

  @include e(submit) {
    border: none;
    border-radius: 2px;
    outline: none;
    padding: 7px 35px;
    margin-bottom: 30px;
    cursor: pointer;
    font-size: 18px;
    background: $formTwo;
    color: #000;
  }
}
